<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
      <h1 class="text-center">顧客情報一覧</h1>

      <p id="notice"><%= notice %></p>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>性別</th>
            <th>生年月日</th>
            <th>電話番号</th>
            <th>物件情報数</th>
            <th>物件情報1</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.sex %></td>
              <td><%= customer.date_of_birth %></td>
              <td><%= customer.tel %></td>
              <td><%= customer.properties[0].name.blank? ? 0 : customer.properties.size %></td>
              <td><%= customer.properties[0].name %></td>
              <td>
                <div class="container-fluid">
                  <div class="row pull-right">
                    <%= link_to '詳細', customer, class: 'btn btn-info col-ms-4' %>
                    <%= link_to '編集', edit_customer_path(customer), class: 'btn btn-warning col-ms-4' %>
                    <%= link_to '削除', customer, class: 'btn btn-danger col-ms-4', method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to '新規登録', new_customer_path, class: 'btn btn-success' %>
    </div>
	</div>
</div>
