<h1 class="container-fluid text-center" >顧客情報詳細</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
      <p id="notice"><%= notice %></p>

      <h2 class="container-fluid text-center" >顧客情報</h2>
      <table class="table table-striped table-bordered">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td><%= '性別:' + @customer.sex %></td>
          </tr>
          <tr>
            <td><%= '生年月日:' + @customer.date_of_birth.to_s %></td>
          </tr>
          <tr>
            <td><%= '電話番号:' + @customer.tel %></td>
          </tr>
        </tbody>
      </table>

      <h2 class="container-fluid text-center" >物件情報</h2>
				<% if @customer.properties[0].nil? %>
				  <h3 class="container-fluid text-center md10">なし</h3>
				<% else %>
					<% @customer.properties.each_with_index do |property, i| %>
						<h3 class="container-fluid text-center" >物件情報<%= (i + 1) %></h3>
		        <table class="table table-striped table-bordered">
		          <thead>
		          </thead>
		          <tbody>
		            <tr>
		              <td><%= '業者名:' + property.agent %></td>
		            </tr>
		            <tr>
		              <td><%= '物件名:' + property.name %></td>
		            </tr>
		            <tr>
		              <td><%= '物件住所:' + property.address %></td>
		            </tr>
		          </tbody>
		        </table>
				  <% end %>
				<% end %>

      <%= link_to '編集', edit_customer_path(@customer), class: 'btn btn-warning' %>
      <%= link_to '戻る', customers_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
