<p id="notice"><%= notice %></p>

<p>
  <strong>Sex:</strong>
  <%= @customer.sex %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @customer.date_of_birth %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @customer.tel %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
